* {
  box-sizing: border-box;
}
@font-face{
  font-family: amaranth;
  src: url("/fonts/Amaranth-Bold.otf")
}
@font-face{
  font-family: myfont;
  src: url("/fonts/grand.ttf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
}
.main-container{
  margin-top: 1rem;
  border-radius: 25px;
background: #f2f2f2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  height: 100vh;
  display: flex;
  width:50%;
  flex-direction: column;
  text-align: center;

}

.card{
  width: 100%;
}

.Phantom{
  color: #222;
  
  font-weight: bolder;
  font-size: 3.5rem;
}
.head{
  font-family:myfont;
  font-weight: bolder;
  font-size: 2.5rem;
}

.img-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  
}

/* styling the image to look like a disc by placing a small circle in it*/

/* using animation to make the image rotate continiously when music is playing */
.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto;
  animation: rotate 3s linear infinite;
  animation-play-state: running;
}

/* creating the animation keyframe and setting the image to rotate 360 degrees continiously */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 1rem;
}

/* styling the navigation buttons */
.action-btn {
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin: 1px 15px;
  background: unset;
}

.action-btn.action-btn-big {
  font-size: 30px;
  outline: none;
}

.action-btn:focus {
  outline: 0;
}

/* styling the outer music container */
.music-container {
padding: 0;
margin-top: 1rem;
background: unset;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;

}
/* styling the music-info div by placing it under the music container */
.music-info {
/* background: #595859; */
background-color: rgb(30, 30, 30);
  box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90%;
  padding:20px;
  color: #fff;
  z-index: 0;
}

.music-info > h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
}

/* styling the song progress container */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin:  0;
  height: 4px;
  width: 100%;
}

/* styling the actual progress bar and making it flow along with the song*/
.progress {
  background-color: orangered;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
			#output {
			    background-color:#F9F9F9;
			    padding:10px;
			    width: 100%;
			    margin-top:20px;
			    line-height:30px;
			}
			.hide {
			    display:none;
			}
			.show {
			    display:block;
			}
.playlist {
  display: none;
}
footer > span{
  color: orangered;
  font-weight: bolder;
}
footer {
  margin-top: 4rem;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.timer{
  display: none;
  width: 100%;
}
.timer-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.button-timer{

  padding-left: .5rem;
}
.button-timer > button{
  outline: none;
  border: none;
  border-radius: 1rem;
  background: #dbdbdb;
  width: 6rem;
  height: 2.5rem;
  
}
@media screen and (max-width: 768px) {
  .Phantom { 
    font-size:40px;
    padding-top: 19px;
  }
  .head {
    font-size: 28px;
  }

  .main-container{
    width: 95%;
  }
    .button-timer {
      padding-left: 5px;
    }
  .button-timer>button {
    outline: none;
    border: none;
    border-radius: 1rem;
    background: #dbdbdb;
    width: 4.5rem;
    height: 2.5rem;

  }
}
